body {
  font-family: 'Poppins', sans-serif;
}

.impact {
  font-size: 1.5rem;
  color: #6c757d;
}

.jumbotron {
  background-color: white;
  padding: 2%;
}

.carousel {
  padding: 5% 15% 0% 15%;
}

.nav-link {
  color: #4e555b;
}

.navbar {
  background-color: #f7f7f7;
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
}

h5 {
  color: aquamarine;
}

.fab {
  color: aquamarine;
}

.fas {
  color: aquamarine;
}